$mainColor :rgb(255,99,71);
$subColor : #FAF0E6;

.main_ad{
  margin: 0 auto;
  min-width: 1260px;
  background-size: 1900px;
  height: 40px;
  background: rgb(250, 240, 230);
  overflow: hidden;

  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main_header{
  padding-top: 10px;
  padding-left: 60px;
  width: 100%;
  min-width: 1260px;
  height: 100px;
  background: $mainColor;
  box-sizing:border-box;
}

.header_top{
  height: 30px;
  margin-bottom: 20px;
}

.main_logo{
  float: left;
  margin-right: 50px;
  width: 200px;
  height: 30px;
  /*background: #e5e5e5;*/

  a{
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    /* 픽타민 로고를 텍스트로 변경*/
    color: $subColor;
    margin-top:0px;
    font-family: 'texgyreadventor-bold';
    font-size: 20px;
    text-decoration: none
  }
}

.main_header{
  form{
    width: calc(100% - 850px);
    height: 100%;
    float: left;
    box-shadow: 2px 2px 3px 1px #ebebeb inset;
    border: 2px solid linen;
    box-sizing: border-box;
    background: #fff;
  }

  input[type="text"]{
    width: calc(100% - 45px);
    height: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    vertical-align: middle;
    border: none;
    background: none;

  }

  button[type="submit"]{
    width: 45px;
    height: 100%;
    color:$mainColor;
    background: #fff;
    font-size: 13px;
    outline: none;
    border: none;
    background: none;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.header_ad{
  margin: 0 50px;
  float: left;
  width: 500px;
  height: 30px;

  a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color : rgb(250,240,230);
  }
}

.header_bottom{
  height: 40px;
}
.user_info{
  float: left;
  width: 200px;
  height: 100%;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color : #e5e5e5;

  a{
    text-decoration: none;
  }
}

.header_nav{
  margin-left: 20px;
  float:left;
  width: calc(100% - 850px);
  height: 100%;
  overflow: hidden;

  ul{
    height: 100%;
  }

  li{
    /*
    font-family: "NotoSans-Medium";
    letter-spacing: 0.02em;
    */
    width: 150px;
    line-height: 30px;
    height: 100%;
    
    /* 헤더 네비게이션 폰트 */
    font-size: 15px;
    /* --------------- */
    float: left;
    list-style: none;
    text-align: center;

    &:active{
      a{
        color : #f7941d;
      }
    }
    a{
      text-decoration: none;
      color: #FAF0E6;
    }
  }

  li:nth-child(1){
    a{
      font-size: 15px;
      color: #FAF0E6;
      //font-weight: bold;
      font-family: 'texgyreadventor-bold';
    }

    &:hover{

      a{
        color : #001931;
      }
      .product_menu_wrap{
        display: block;
      }
      .arrow_wrap{
        @media screen and (max-width: 1600px){
          display: block;
        }
      }
    }
  }
  /* 최근 본 상품 */
  li:nth-child(2){
    a{
      font-size: 15px;
      color: #FAF0E6;
      //font-weight: bold;
      font-family: 'texgyreadventor-bold';
    }

    &:hover{
      a{
        color : #001931;
        
      }

      .recent_menu_wrap{
        display: block;
      }
      .arrow_wrap{
        top: 270px;
        @media screen and (max-width: 1600px){
          display: block;
        }
      }
    }
  }
}

.header_sub_nav{
  float: left;
  width: 600px;
  height: 100%;

  li{
    font-size: 14px;
    float: left;
    width: 150px;
    height: 100%;
    line-height: 30px;
    text-align: center;
    list-style: none;

    &:active{

      .menu_font{
        color: #f7941d;
      }

    }

  }

  a{
    text-decoration: none;
    color: #FAF0E6;
  }
}
.sub_ad{
  margin: 0 auto;
  min-width: 1260px;
  background-size: 1900px;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 4px 4px #e9e7e7;

  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.main_footer{
  width: 100%;
  height: 340px;
  background: #e5e5e5;
}


/* down menu */
.product_menu_wrap{
  display: none;
  text-align: center;
  position: absolute;
  padding-top: 50px;
  top:140px;
  left: 0;
  right: 0;
  height: 270px;
  min-width: 1260px;
  box-sizing: border-box;
  z-index: 100;
}
.product_menu_wrap:after {
  position: absolute;
  bottom: 100%;
  left: 350px;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-bottom-color: #fff;
  border-width: 10px;
  pointer-events: none;
  content: " ";
  z-index: 9999;
}

/* dwonmenu */
.downmenu_product{
  text-align: center;
  position: absolute;
  min-width: 1260px;
  height: 220px;
  left:0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  /* border-bottom: 1px solid #000; */
  box-shadow: 0 3px 3px #c6c6c6;
}

.downmenu_contents{
  display: inline-block;
  position: relative;
  width: 1530px;
  min-width: 1260px;
  height: 210px;
  padding-left: 50px;
  padding-right: 50px;


  .item_wrap{
    position: absolute;

    width: 1800px;
    min-width: 1260px;
    overflow: hidden;
  }
  .item{
    position: relative;
    float: left;
    margin-right: 20px;
    width: 135px;
    height: 210px;

  }

  .item_img{
    width: 100%;
    height: 150px;
    background: #faf0e6;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .item_title{
    text-align: center;
    margin-top: 15px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #001931;
  }
}

/* recent */
.recent_menu_wrap{
  display: none;
  text-align: center;
  position: absolute;
  padding-top: 50px;
  top:140px;
  left: 0;
  right: 0;
  height: 315px;
  min-width: 1260px;
  box-sizing: border-box;
  z-index: 100;
}
.recent_menu_wrap:after {
  position: absolute;
  bottom: 100%;
  left: 500px;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-bottom-color: #fff;
  border-width: 10px;
  pointer-events: none;
  content: " ";
  z-index: 9999;
}
.downmenu_recent{
  text-align: center;
  position: absolute;
  min-width: 1260px;
  height: 265px;
  left:0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  // 다운메뉴 삭제
  //border-bottom: 1px solid #000;
  box-shadow: 0 3px 3px #c6c6c6;
}


.recent_contents{
  display: inline-block;
  position: relative;
  min-width: 1260px;
  width: 1530px;
  height: 210px;
  padding-left: 50px;
  padding-right: 50px;

  .default_word{
    color: #ebebeb;
    position: absolute;
    left: 100px;
    top: 60px;
  }

  .item_wrap{
    background: #fff;
    position: absolute;
    width: 1800px;
    min-width: 1260px;
    overflow: hidden;

  }
  .item{
    position: relative;
    float: left;
    margin-right: 20px;
    width: 135px;
    height: 260px;

  }

  .item_img{
    width: 100%;
    height: 150px;
    background: #b6b6b6;

    img{
      width: 100%;
      height: 100%;
    }

  }
  .item_img:last-child{
    background: none;
  }

  .item_title{
    font-family:"arita-medium";
    margin-top: 10px;
    width: 100%;
    height: 25px;
    text-align:center;
    line-height: 25px;
    font-size: 12px;
    //font-weight: bold;
    color: #001931;
  }

  .item_eng{
    font-family:"arita-semibold";
    color: #001931;
    margin-bottom: 15px;
    width: 100%;
    height: 20px;
    font-size: 16px;
    color: #001931;
    text-align: center;
    line-height: 20px;
  }

  .item_load{
    width: 100%;
    height: 10px;
    background: #faf0e6;

    /* z-index로 road-line과 조정 */
    .item_point{
      position: relative;
      z-index: 101;
      margin: 0 auto;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
    }
  }

  .item_date{
    width: 100%;
    height: 30px;
    line-height: initial;
    color: #c4c4c4;
    line-height: 30px;
    font-weight: bold;
    font-size: 12px;
  }
}

// 최근 본 상품 중에 가운데 라인.
.road_line{
  position: absolute;
  width: 100%;
  height: 10px;
  background: #faf0e6;
  top:220px;
  // z-index로 라인 조정.
  z-index: 100;

}
/* product wrap */

.arrow_wrap{
  display: none;
  position: absolute;
  padding: 0 10px;
  box-sizing: border-box;
  top: 250px;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 9999;

  .arrow_prev,.arrow_next{
    width: 40px;
    height: 40px;
    background: $mainColor;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    cursor: pointer;

    &:hover{
      background: #879fc2;
    }
  }
  .arrow_prev{
    float: left;
  }
  .arrow_next{
    float: right;
  }


}

.menu_font{
  color : #fff;
  vertical-align: middle;
  font-size: 14px;
}
.menu_font:active{
  color : #f7941d;
}
.menu_icon{
  position: relative;
  /* 아이콘 높이 */
  top: 0px;
  margin-left: 4px;
  vertical-align: top;
  display: inline-block;
  /* 원 크기 변경 25px -> 30px */
  width: 30px;
  height: 30px;
  line-height: 30px;
  //border: 2px solid $subColor;
  box-sizing: border-box;
  //border-radius: 50%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color : $subColor;
  background: url("../img/mainimg/mainheader_login_25x25.svg");
}

.menu_icon2{
  position: relative;
  /* 아이콘 높이 */
  top: 0px;
  margin-left: 4px;
  vertical-align: top;
  border-radius: 50%;
  display: inline-block;
  /* 원 크기 변경 25px -> 30px */
  width: 30px;
  height: 30px;
  background: url("../img/mainimg/main_header_signup_new.svg");
}

.menu_icon3{
  position: relative;
  /* 아이콘 높이 */
  top: 0px;
  margin-left: 4px;
  vertical-align: top;
  border-radius: 50%;
  display: inline-block;
  /* 원 크기 변경 25px -> 30px */
  width: 30px;
  height: 30px;
  background: url("../img/mainimg/main_header-user_25x25_.svg");
}

.menu_icon4{
  position: relative;
  /* 아이콘 높이 */
  top: 0px;
  margin-left: 4px;
  vertical-align: top;
  border-radius: 50%;
  display: inline-block;
  /* 원 크기 변경 25px -> 30px */
  width: 30px;
  height: 30px;
  background: url("../img/mainimg/main_header_wish_25x25.svg");
}

.menu_icon5{
  position: relative;
  /* 아이콘 높이 */
  top: 0px;
  margin-left: 4px;
  vertical-align: top;
  display: inline-block;
  /* 원 크기 변경 25px -> 30px */
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid $subColor;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color : $subColor;
  
}

.header_sub_nav{
  .menu_font{
    vertical-align:middle;
    color: #FAF0E6;
    font-weight: bold;
  }
}

.item_link{
  display:block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.clear_cookie{
  margin-top: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color : #001931;
  border: none;
  background: #faf0e6;
  outline: none;
  cursor: pointer;
}
