$mainColor :#001931;

.page_wrap{
  min-width: 1260px;
  width: 1500px;
  margin: 0 auto;

  @media screen and (max-width: 1520px){
    width: 100%;
  }
}

.item_list_zone{
  margin-bottom: 200px;
  position: relative;
  margin-right: 40px;
  padding-top: 50px;
  float: left;
  width: calc(100% - 400px);

}

.inventory_zone{
  float: left;
  width: 360px;
}


/* category */

.category{
  font-family: 'arita-medium';
  font-size: 12px;
  font-weight: bold;
  width: 857px;
  z-index: 10;
  background: #fff;
  border: 1px solid #ebebeb;


  .category_tab{
    width: 100%;

    a{
      text-decoration: none;
      color: $mainColor;
    }

    &:hover{
      .category_contents{
        background: #f3f3f3;
      }
    }
  }

  .category_title{
    float:left;
    width: 135px;
    height: 33px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    background: #f3f3f3;
    color: $mainColor;

    button{
      display: none;
      float: right;
      vertical-align: text-top;
      width: 15px;
      height: 15px;
      border: none;
      cursor: pointer;
      outline: none;
      background: none;

      &.open{
        background: url('../img/itemlist/product_list_close.svg');
      }
      &.close{
        background: url('../img/itemlist/product_list_spread.svg');
      }
    }
  }

  .category_contents{
    float: left;
    overflow: hidden;
    width: 722px;
    height: 33px;
    box-sizing: border-box;

    li{
      float: left;
      width: 117px;
      height: 33px;
      line-height: 33px;
      text-align: center;
      list-style: none;

      a{
        position: relative;
      }
      a.selected{
        color: tomato;
      }

      a:hover{
        color: tomato;
      }
    }

  }
}
  .item_list_wrap{
    min-height: 500px;
    padding-top: 25px;
    margin-top:50px;
    position: relative;
    width: 100%;
  }


.item_list_wrap{
  .item{
    float: left;
    width: 33.3%;
    height: 300px;
    box-sizing: border-box;

    &:nth-child(3n-2){
      border-left: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      box-sizing: border-box;
    }
    &:nth-child(3n-1){
      border-bottom: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
    }
    &:nth-child(3n){
      border-bottom: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      box-sizing: border-box;
    }
    &:nth-child(1),&:nth-child(2),&:nth-child(3){
      border-top: 1px solid #e1e1e1;
    }


   }

  .item:hover{
    box-shadow: 5px 5px 20px 1px #acacac;

    .hover_btn_wrap{
      display: block;
    }
  }

  .item_img_zone{
    position: relative;
    width: 100%;
    height: 200px;
  }

  .hover_btn_wrap{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    a{
      color: #fff;
      text-align: center;
      /* 여긴 왜 135픽셀이 아닌 270px인가... 확인 필요.*/
      text-decoration: none;
      font-size: 13px;
      font-family: 'NotoSans-bold';

    }
    a:nth-child(1){
      color:#001931;
      float: left;
      display: block;
      width: 50%;
      height: 100%;
      background: #faf0e6;

      .icon{
        margin-top: 80px;
        margin-bottom: 10px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url("../img/itemlist/product_list_detail_view.svg");
      }
    }

    a:nth-child(2){
      float: left;
      display: block;
      width: 50%;
      height: 100%;
      background: #001931;

      .icon{
        margin-top: 80px;
        margin-bottom: 10px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url("../img/itemlist/product_list_add.svg");
      }
    }
  }

  .item_desc_zone{
    padding: 15px;
    box-sizing: border-box;

    &>div:nth-child(1){
      padding-left: 5px;
      font-family: 'myriad-semibold';
      font-size: 14px;
      color : #252525;
    }

    &>div:nth-child(2){
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 5px;
      font-family: 'myriad-regular';
      font-size: 11px;
      color: #636363;
    }

    .pick{
      margin-top: 5px;
      float: right;
      font-size: 14px;
      vertical-align: middle;

      span{
        color:tomato;
        font-weight: bold;
      }
    }
  }

  .star{
    vertical-align: middle;
    display: inline-block;
    width: 25px;
    height: 25px;

    &.full{
      background: url('../img/fullstar.png');
    }
    &.half{
      background: url('../img/halfstar.png');
    }
    &.empty{
      background: url('../img/emptystar.png');
    }
  }
}



/* detail */

.item_detail_zone{
  margin-right: 115px;
  position: relative;
  padding-top: 80px;
  float: left;
  width: calc(100% - 475px);
}

.item_detail_title{
  margin-bottom: 40px;
  height: 35px;
  font-size: 30px;
  font-family: 'myriad-bold';
}

.item_detail_main{
  margin-bottom: 120px;
  width: 100%;
  height: 500px;

}

.item_detail_photo{
  float: left;
  margin-right: 100px;
  width: calc(100% - 355px);
  height: 100%;

  .photo_wrap{
    width: 100%;
    height: 410px;

    >div:nth-child(1){
      margin-right: 20px;
      float: left;
      width: calc(100% - 170px);
      height: 100%;
    }

    >div:nth-child(2){
      float: left;
      width: 150px;
      height: 100%;

      >div:nth-child(1){
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
      }
      >div:nth-child(2){
        width: 100%;
        height: 200px;
      }
    }
  }
}

.photo_btn{
  img{
    width: 100%;
    height: 100%;
  }
  cursor: pointer;
}

.detail_pick_zone{
  padding: 5px 5px;
  margin-top: 5px;
  width: 425px;
  border-top: 1px solid #c4c4c4;
  box-sizing: border-box;

  .pick{

    margin-top: 5px;
    font-size: 14px;
    vertical-align: middle;

    span{
      color:tomato;
      font-weight: bold;
    }
  }
}
.detail_btn_zone{
  margin-top: 25px;
  width: 100%;
  height: 45px;
}
.item_detail_desc{
  float: left;
  width: 255px;
  height: 100%;
}

.detail_btn_zone{
  .detail_btn_wrap{
    float: right;
  }
  button{
    background: #fff;
    color : $mainColor;
    font-family: "NotoSansCJKkr-Medium";
    /*
    border: 2px solid tomato;
    */
    border:none;
    outline:none;
    width: 150px;
    height: 45px;
    box-shadow: 0 0 6px 2px #ebebeb;

    cursor:pointer;
    vertical-align: top;
    font-size: 15px;



    &:nth-child(1):hover{
      background: tomato;
      color : #fff;
      box-shadow: none;
    }
    &:nth-child(2):hover{
      background: $mainColor;
      color : #fff;
      box-shadow: none;
    }
  }

  button:nth-child(1){
    margin-right: 20px;
  }
}
.outer_line{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #c4c4c4;
}
.desc_contents{
  li{
    margin-bottom: 20px;
    list-style: none;
    font-size: 14px;
    font-family: 'arita-medium';
    >div:nth-child(1){
      margin-right: 5px;
    }
    >div{
      float: left;
      >div{
        margin-bottom: 10px;
      }
    }

    span{
      color:#808080;
    }
  }

  .desc_label{
    color : #808080;
  }
}

.desc_title{
  margin-bottom: 40px;
  font-size: 25px;
  font-family: 'myriad-bold';
}

.detail_table_zone{
  margin-bottom: 100px;
  width: 860px;

  >div{
    float: left;
    width: 410px;
  }
  >div:nth-child(1){
    margin-right: 40px;
  }

  table{
    margin-top: 40px;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    text-align: center;
    font-size: 12px;

    th{
      border-bottom: 2px solid #000;
    }
    tr{
      height: 30px;
      font-family: 'myriad-semibold';
    }
    td{
      position: relative;
      border-bottom: 1px solid #bfbfbf;
    }
    td:nth-child(1){
      border-bottom: 1px solid #000;
    }
  }
}

.table_titles{
  box-sizing: border-box;
  width: 110px;
  height: 30px;
  border-bottom: 3px solid #000;
  font-family: 'arita-semibold';
  font-size: 20px;
}

.coment_title{
  box-sizing: border-box;
  width: 245px;
  height: 30px;
  border-bottom: 3px solid #000;
  font-family: 'arita-semibold';
  font-size: 20px;
}

.coment_background{
  padding-top: 60px;
  width: 100%;
  height: 500px;
  background: #f3f3f3;
}
.coment_tab_btn{
  color: #000;
  border: none;
  outline: none;
  width: 135px;
  height: 37px;
  background: #c4c4c4;
  color : #fff;
  z-index: 10;
  /* border-top-left-radius: 7px;
  border-top-right-radius: 7px; */
  cursor: pointer;


}
.coment_tab_btn.selected{
  background: #fff;
  color: #000;
}
.coment_tab_contents{
  position: relative;
  width: 860px;
  background: #fff;
  .tab1 p,.tab2 p{
    padding: 15px;
    font-size: 14px;
    color : #636363;
    line-height: 22px;

  }
  .tab2{
    display: none;
  }
  z-index: 1;
}

.help{
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #c4c4c4;
}

.help:hover>p.arrow_box {
  display: block;
}

.arrow_box {
  padding: 10px 20px;
  display: none;
  top:-5px;
  left: 25px;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 6px 2px #ebebeb;
  width: 580px;
  min-height: 300px;
  z-index: 9999;
  text-align: left;
  color : #000;
  box-sizing: border-box;
}


.pagination{
  margin-top: 100px;
  width: 100%;
  text-align: center;
  li{
    margin-right: 20px;
    display: inline-block;
    list-style: none;
  }

  a{
    color : $mainColor;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }

  li.selected a{
    color: #f7941d;
  }
}



/* inventory */
.inventory_zone{
  padding-top: 35px;
}

.inventory_title{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #001931;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  /*확인후 삭제 필요.
  스크롤 수정때문에 마진 넣어둠.*/
  margin-bottom:5px;
}

.slot_wrap{
  height: 1000px;
}

.inventory_slot{
  margin: 15px 0 15px;
}

.inventory_header{
  width: 100%;
  height: 30px;

  >div{
    float: left;
    width: 50%;
    height: 100%;
    font-size: 15px;
    line-height: 30px;
    box-sizing: border-box;
  }


  .compare{
    color: #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
    text-align: right;
    cursor: pointer;


  }
}

.inventory_item_wrap{
  width: 100%;
  margin-top: 15px;

  >div{
    position: relative;
    margin-right: 9.5px;
    float: left;
    width: 108px;
    height: 108px;
    box-sizing: border-box;

    &:nth-child(3){
      margin-right: 0;
    }
    &.empty{
      .item_name{
        display: none;
      }
    }
    // exist / 나의 관심비타민에 제품이 있다.
    &.exist:hover{
      .item_btn_wrap{
        display: block;
      }
    }

    .inventory_img_wrap{
      box-sizing: border-box;
      border: 1px solid #e6e6e6;
      width: 100%;
      // 90px으로 수정
      height: 88px;

      img{
        width: 100%;
        height: 100%;
      }
    }



    .item_btn_wrap.selected{

    }
  }

  .item_name{
    font-size: 13px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.result_desc{
  margin-top: 200px;
  text-align: center;
  line-height: 30px;
  font-style: 20px;
  color : #c7c7c7;
}
