@charset "UTF-8";
.page_wrap {
  min-width: 1260px;
  width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width: 1520px) {
  .page_wrap {
    width: 100%;
  }
}

.item_list_zone {
  margin-bottom: 200px;
  position: relative;
  margin-right: 40px;
  padding-top: 50px;
  float: left;
  width: calc(100% - 400px);
}

.inventory_zone {
  float: left;
  width: 360px;
}

/* category */
.category {
  font-family: 'arita-medium';
  font-size: 12px;
  font-weight: bold;
  width: 857px;
  z-index: 10;
  background: #fff;
  border: 1px solid #ebebeb;
}

.category .category_tab {
  width: 100%;
}

.category .category_tab a {
  text-decoration: none;
  color: #001931;
}

.category .category_tab:hover .category_contents {
  background: #f3f3f3;
}

.category .category_title {
  float: left;
  width: 135px;
  height: 33px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  background: #f3f3f3;
  color: #001931;
}

.category .category_title button {
  display: none;
  float: right;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

.category .category_title button.open {
  background: url("../img/itemlist/product_list_close.svg");
}

.category .category_title button.close {
  background: url("../img/itemlist/product_list_spread.svg");
}

.category .category_contents {
  float: left;
  overflow: hidden;
  width: 722px;
  height: 33px;
  box-sizing: border-box;
}

.category .category_contents li {
  float: left;
  width: 117px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  list-style: none;
}

.category .category_contents li a {
  position: relative;
}

.category .category_contents li a.selected {
  color: tomato;
}

.category .category_contents li a:hover {
  color: tomato;
}

.item_list_wrap {
  min-height: 500px;
  padding-top: 25px;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

.item_list_wrap .item {
  float: left;
  width: 33.3%;
  height: 300px;
  box-sizing: border-box;
}

.item_list_wrap .item:nth-child(3n-2) {
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.item_list_wrap .item:nth-child(3n-1) {
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.item_list_wrap .item:nth-child(3n) {
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.item_list_wrap .item:nth-child(1), .item_list_wrap .item:nth-child(2), .item_list_wrap .item:nth-child(3) {
  border-top: 1px solid #e1e1e1;
}

.item_list_wrap .item:hover {
  box-shadow: 5px 5px 20px 1px #acacac;
}

.item_list_wrap .item:hover .hover_btn_wrap {
  display: block;
}

.item_list_wrap .item_img_zone {
  position: relative;
  width: 100%;
  height: 200px;
}

.item_list_wrap .hover_btn_wrap {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.item_list_wrap .hover_btn_wrap a {
  color: #fff;
  text-align: center;
  /* 여긴 왜 135픽셀이 아닌 270px인가... 확인 필요.*/
  text-decoration: none;
  font-size: 13px;
  font-family: 'NotoSans-bold';
}

.item_list_wrap .hover_btn_wrap a:nth-child(1) {
  color: #001931;
  float: left;
  display: block;
  width: 50%;
  height: 100%;
  background: #faf0e6;
}

.item_list_wrap .hover_btn_wrap a:nth-child(1) .icon {
  margin-top: 80px;
  margin-bottom: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/itemlist/product_list_detail_view.svg");
}

.item_list_wrap .hover_btn_wrap a:nth-child(2) {
  float: left;
  display: block;
  width: 50%;
  height: 100%;
  background: #001931;
}

.item_list_wrap .hover_btn_wrap a:nth-child(2) .icon {
  margin-top: 80px;
  margin-bottom: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/itemlist/product_list_add.svg");
}

.item_list_wrap .item_desc_zone {
  padding: 15px;
  box-sizing: border-box;
}

.item_list_wrap .item_desc_zone > div:nth-child(1) {
  padding-left: 5px;
  font-family: 'myriad-semibold';
  font-size: 14px;
  color: #252525;
}

.item_list_wrap .item_desc_zone > div:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-family: 'myriad-regular';
  font-size: 11px;
  color: #636363;
}

.item_list_wrap .item_desc_zone .pick {
  margin-top: 5px;
  float: right;
  font-size: 14px;
  vertical-align: middle;
}

.item_list_wrap .item_desc_zone .pick span {
  color: tomato;
  font-weight: bold;
}

.item_list_wrap .star {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.item_list_wrap .star.full {
  background: url("../img/fullstar.png");
}

.item_list_wrap .star.half {
  background: url("../img/halfstar.png");
}

.item_list_wrap .star.empty {
  background: url("../img/emptystar.png");
}

/* detail */
.item_detail_zone {
  margin-right: 115px;
  position: relative;
  padding-top: 80px;
  float: left;
  width: calc(100% - 475px);
}

.item_detail_title {
  margin-bottom: 40px;
  height: 35px;
  font-size: 30px;
  font-family: 'myriad-bold';
}

.item_detail_main {
  margin-bottom: 120px;
  width: 100%;
  height: 500px;
}

.item_detail_photo {
  float: left;
  margin-right: 100px;
  width: calc(100% - 355px);
  height: 100%;
}

.item_detail_photo .photo_wrap {
  width: 100%;
  height: 410px;
}

.item_detail_photo .photo_wrap > div:nth-child(1) {
  margin-right: 20px;
  float: left;
  width: calc(100% - 170px);
  height: 100%;
}

.item_detail_photo .photo_wrap > div:nth-child(2) {
  float: left;
  width: 150px;
  height: 100%;
}

.item_detail_photo .photo_wrap > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.item_detail_photo .photo_wrap > div:nth-child(2) > div:nth-child(2) {
  width: 100%;
  height: 200px;
}

.photo_btn {
  cursor: pointer;
}

.photo_btn img {
  width: 100%;
  height: 100%;
}

.detail_pick_zone {
  padding: 5px 5px;
  margin-top: 5px;
  width: 425px;
  border-top: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.detail_pick_zone .pick {
  margin-top: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.detail_pick_zone .pick span {
  color: tomato;
  font-weight: bold;
}

.detail_btn_zone {
  margin-top: 25px;
  width: 100%;
  height: 45px;
}

.item_detail_desc {
  float: left;
  width: 255px;
  height: 100%;
}

.detail_btn_zone .detail_btn_wrap {
  float: right;
}

.detail_btn_zone button {
  background: #fff;
  color: #001931;
  font-family: "NotoSansCJKkr-Medium";
  /*
    border: 2px solid tomato;
    */
  border: none;
  outline: none;
  width: 150px;
  height: 45px;
  box-shadow: 0 0 6px 2px #ebebeb;
  cursor: pointer;
  vertical-align: top;
  font-size: 15px;
}

.detail_btn_zone button:nth-child(1):hover {
  background: tomato;
  color: #fff;
  box-shadow: none;
}

.detail_btn_zone button:nth-child(2):hover {
  background: #001931;
  color: #fff;
  box-shadow: none;
}

.detail_btn_zone button:nth-child(1) {
  margin-right: 20px;
}

.outer_line {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #c4c4c4;
}

.desc_contents li {
  margin-bottom: 20px;
  list-style: none;
  font-size: 14px;
  font-family: 'arita-medium';
}

.desc_contents li > div:nth-child(1) {
  margin-right: 5px;
}

.desc_contents li > div {
  float: left;
}

.desc_contents li > div > div {
  margin-bottom: 10px;
}

.desc_contents li span {
  color: #808080;
}

.desc_contents .desc_label {
  color: #808080;
}

.desc_title {
  margin-bottom: 40px;
  font-size: 25px;
  font-family: 'myriad-bold';
}

.detail_table_zone {
  margin-bottom: 100px;
  width: 860px;
}

.detail_table_zone > div {
  float: left;
  width: 410px;
}

.detail_table_zone > div:nth-child(1) {
  margin-right: 40px;
}

.detail_table_zone table {
  margin-top: 40px;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  text-align: center;
  font-size: 12px;
}

.detail_table_zone table th {
  border-bottom: 2px solid #000;
}

.detail_table_zone table tr {
  height: 30px;
  font-family: 'myriad-semibold';
}

.detail_table_zone table td {
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}

.detail_table_zone table td:nth-child(1) {
  border-bottom: 1px solid #000;
}

.table_titles {
  box-sizing: border-box;
  width: 110px;
  height: 30px;
  border-bottom: 3px solid #000;
  font-family: 'arita-semibold';
  font-size: 20px;
}

.coment_title {
  box-sizing: border-box;
  width: 245px;
  height: 30px;
  border-bottom: 3px solid #000;
  font-family: 'arita-semibold';
  font-size: 20px;
}

.coment_background {
  padding-top: 60px;
  width: 100%;
  height: 500px;
  background: #f3f3f3;
}

.coment_tab_btn {
  color: #000;
  border: none;
  outline: none;
  width: 135px;
  height: 37px;
  background: #c4c4c4;
  color: #fff;
  z-index: 10;
  /* border-top-left-radius: 7px;
  border-top-right-radius: 7px; */
  cursor: pointer;
}

.coment_tab_btn.selected {
  background: #fff;
  color: #000;
}

.coment_tab_contents {
  position: relative;
  width: 860px;
  background: #fff;
  z-index: 1;
}

.coment_tab_contents .tab1 p, .coment_tab_contents .tab2 p {
  padding: 15px;
  font-size: 14px;
  color: #636363;
  line-height: 22px;
}

.coment_tab_contents .tab2 {
  display: none;
}

.help {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #c4c4c4;
}

.help:hover > p.arrow_box {
  display: block;
}

.arrow_box {
  padding: 10px 20px;
  display: none;
  top: -5px;
  left: 25px;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 6px 2px #ebebeb;
  width: 580px;
  min-height: 300px;
  z-index: 9999;
  text-align: left;
  color: #000;
  box-sizing: border-box;
}

.pagination {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.pagination li {
  margin-right: 20px;
  display: inline-block;
  list-style: none;
}

.pagination a {
  color: #001931;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.pagination li.selected a {
  color: #f7941d;
}

/* inventory */
.inventory_zone {
  padding-top: 35px;
}

.inventory_title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #001931;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  /*확인후 삭제 필요.
  스크롤 수정때문에 마진 넣어둠.*/
  margin-bottom: 5px;
}

.slot_wrap {
  height: 1000px;
}

.inventory_slot {
  margin: 15px 0 15px;
}

.inventory_header {
  width: 100%;
  height: 30px;
}

.inventory_header > div {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 15px;
  line-height: 30px;
  box-sizing: border-box;
}

.inventory_header .compare {
  color: #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  text-align: right;
  cursor: pointer;
}

.inventory_item_wrap {
  width: 100%;
  margin-top: 15px;
}

.inventory_item_wrap > div {
  position: relative;
  margin-right: 9.5px;
  float: left;
  width: 108px;
  height: 108px;
  box-sizing: border-box;
}

.inventory_item_wrap > div:nth-child(3) {
  margin-right: 0;
}

.inventory_item_wrap > div.empty .item_name {
  display: none;
}

.inventory_item_wrap > div.exist:hover .item_btn_wrap {
  display: block;
}

.inventory_item_wrap > div .inventory_img_wrap {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 88px;
}

.inventory_item_wrap > div .inventory_img_wrap img {
  width: 100%;
  height: 100%;
}

.inventory_item_wrap .item_name {
  font-size: 13px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.result_desc {
  margin-top: 200px;
  text-align: center;
  line-height: 30px;
  font-style: 20px;
  color: #c7c7c7;
}
/*# sourceMappingURL=itemListStyle.css.map */