@charset "UTF-8";
.main_wrap {
  position: relative;
  margin: 0 auto;
  width: 1500px;
  min-width: 1260px;
}

@media screen and (max-width: 1520px) {
  .main_wrap {
    width: 100%;
  }
}

.status_zone {
  padding-top: 50px;
  margin-right: 100px;
  float: left;
  width: calc(100% - 460px);
}

.main_title {
  padding: 5px 15px;
  font-family: 'arita-bold';
  width: 100%;
  font-size: 25px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.mypicktamin_zone {
  margin-bottom: 30px;
  width: 100%;
  height: 310px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

/* my info */
.my_info {
  padding: 50px 10px 10px 10px;
  float: left;
  width: 190px;
  height: 100%;
  box-sizing: border-box;
}

.my_info .mypicktamin_ok {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/mainimg/main_small_check_18x18.svg");
}

.my_info .mypicktamin_no {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/mainimg/main_small_x_18x18.svg");
}

.user_profile {
  position: relative;
  padding: 0 5px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.user_name {
  font-size: 13px;
  font-family: 'arita-semibold';
  color: #c4c4c4;
  display: inline-block;
  vertical-align: middle;
}

.user_img {
  position: absolute;
  top: 5px;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.user_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user_table {
  margin: 15px auto 0;
  width: 160px;
  height: 130px;
}

.user_table .user_table_row > div {
  margin-bottom: 6px;
  float: left;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  font-size: 11px;
}

.user_table .user_table_row > div:nth-child(1) {
  margin-right: 10px;
  width: 90px;
  height: 20px;
  border-bottom: 1px solid #001931;
}

.user_table .user_table_row > div:nth-child(2) {
  width: 60px;
  height: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.buy_btn_wrap {
  margin-top: 10px;
  text-align: center;
  /* 메인컬러가 변경되었습니다. */
}

.buy_btn_wrap button {
  width: 149px;
  height: 43px;
  border: none;
  outline: none;
  border: 2px solid tomato;
  cursor: pointer;
  font-size: 14px;
  font-family: 'arita-medium';
  background: #fff;
  box-sizing: border-box;
}

.buy_btn_wrap button:hover {
  background: tomato;
  color: #fff;
}

.my_vitamin_zone {
  position: relative;
  float: left;
  width: calc(100% - 190px);
  height: 310px;
  overflow: hidden;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.my_vitamin_zone > button {
  position: absolute;
  width: 35px;
  height: 44px;
  background: red;
  z-index: 1;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  background: #001931;
  color: #fff;
}

.my_vitamin_zone > button:nth-child(1) {
  opacity: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
}

.my_vitamin_zone > button:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
}

.my_vitamin_zone > button:hover {
  background: #81a9d0;
}

.my_vitamin_wrap {
  position: absolute;
  width: 1200px;
  height: 100%;
}

.my_vitamin_item {
  margin-right: 10px;
  float: left;
  width: 200px;
  height: 100%;
}

.my_vitamin_item:nth-child(1) {
  margin-left: 10px;
}

.vitamin_inner_wrap {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  height: 256px;
}

.vitamin_inner_wrap:hover {
  box-shadow: 0px 3px 10px 2px #cfc6c6;
  border-top: 2px solid #001931;
}

.vitamin_inner_wrap:hover .img_quest, .vitamin_inner_wrap:hover .img_close {
  display: inline-block;
}

.vitamin_inner_wrap:hover .vitamin_item_img {
  margin-top: 6.5px;
}

/* 메인 4개 제품 외 default는 토마토외에 색으로 바뀌면 좋겠습니다.*/
.vitamin_item_category {
  font-family: 'arita-semibold';
  font-size: 15px;
  width: 100%;
  height: 44px;
  line-height: 60px;
  color: tomato;
  font-weight: bold;
}

.vitamin_item_img {
  width: 185px;
  height: 165px;
  position: relative;
  margin: 7.5px;
  box-sizing: border-box;
}

.vitamin_item_img img {
  width: 100%;
  height: 100%;
}

.vitamin_item_img .img_quest {
  display: none;
  top: 15px;
  left: 15px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  cursor: pointer;
  border: none;
  outline: none;
  background: url("../img/main_question_btn.svg");
}

.vitamin_item_img .img_close {
  display: none;
  top: 15px;
  right: 15px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  cursor: pointer;
  border: none;
  outline: none;
  background: url("../img/main_x_btn.svg");
}

.vitamin_item_img.disable {
  height: 200px;
  background: #faf0e6;
  text-align: center;
  padding-top: 80px;
}

.vitamin_item_img.disable p {
  font-size: 12px;
  color: #c4c4c4;
  line-height: 20px;
}

.vitamin_item_title {
  font-family: 'myriad-regular';
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.vitamin_item_company {
  margin: 5px 0;
  font-family: 'myriad-regular';
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #636363;
}

.vitamin_item_rate {
  text-align: center;
}

.vitamin_item_rate .star {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  /*
    반별은 사라졌습니다. 하늘의 별이 되었어요. 하프스타.
    &.half{
      background: url('../img/halfstar.png');
    }
    */
}

.vitamin_item_rate .star.full {
  background: url("../img/fullstar.svg");
}

.vitamin_item_rate .star.empty {
  background: url("../img/emptystar.svg");
}

.vitamin_item_rate .star.selected {
  background: url("../img/fullstar.svg");
}

.vitamin_item_rate .blackstar {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/blackstar.svg");
}

.data_zone {
  margin-top: 30px;
}

.data_item {
  margin-right: 10px;
  margin-bottom: 40px;
  float: left;
  border: 1px solid #c4c4c4;
  width: 250px;
  min-height: 254px;
  box-sizing: border-box;
}

.data_item:nth-child(4) {
  margin-right: 0;
}

.data_front {
  position: relative;
  padding-top: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 254px;
}

.data_front .look_detail {
  display: none;
  cursor: pointer;
  text-align: center;
  line-height: 470px;
  right: 0;
  top: 0;
  position: absolute;
  width: 84px;
  height: 254px;
  background: #FAF0E6;
  font-size: 14px;
}

.data_front:hover .look_detail {
  display: block;
}

.data_front > div:nth-child(1) {
  margin-left: 20px;
  margin-bottom: 1px;
  text-align: left;
  font-size: 30px;
  font-family: 'arita-semibold';
}

.data_front > div:nth-child(2) {
  margin-top: -4px;
  margin-left: 25px;
  margin-bottom: 100px;
  text-align: left;
  font-size: 18px;
  color: #c4c4c4;
  font-family: 'texgyreadventoxr-regular';
}

.data_front > div:nth-child(2)::first-letter {
  font-size: 25px;
}

.data_front > div:nth-child(3) {
  margin-left: 175px;
  width: 60px;
  height: 60px;
}

.data_front > div:nth-child(3).satisfy {
  position: absolute;
  background: url("../img/main_check_v.svg");
}

.data_front > div:nth-child(3).unsatisfy {
  position: absolute;
  background: url("../img/main_check_x.svg");
}

/*
  하단 텍스트가 추가로 늘어나서 변경.
  >div:nth-child(2){
    width: 60px;
    height: 60px;
    margin: 0 auto;

    &.satisfy{
      background: url('../img/satisfy.png');
    }
    &.unsatisfy{
      background: url('../img/unsatisfy.png');
    }
  }
  >div:nth-child(3){
    margin-top:60px;
    text-align: center;

    button{
      background: none;
      border: none;
      font-size: 14px;
      outline: none;
      cursor: pointer;
    }
  }
  */
.small_item_wrap {
  margin-bottom: 40px;
  float: left;
}

.data_item.small {
  float: none;
  margin-bottom: 12px;
  height: 122px;
  min-height: 122px;
}

.data_item.small .data_front {
  position: relative;
  padding-top: 20px;
  height: 122px;
}

.data_item.small .data_front .look_detail {
  display: none;
  cursor: pointer;
  text-align: center;
  line-height: 200px;
  right: 0;
  top: 0;
  position: absolute;
  width: 84px;
  height: 120px;
  background: #FAF0E6;
  font-size: 14px;
}

.data_item.small .data_front:hover .look_detail {
  display: block;
}

.data_item.small .data_front > div:nth-child(1) {
  margin-bottom: 5px;
  text-align: left;
  font-size: 30px;
  font-family: 'arita-semibold';
}

.data_item.small .data_front > div:nth-child(2) {
  margin-top: -8px;
  margin-left: 25px;
  text-align: left;
  color: #c4c4c4;
  font-size: 18px;
  font-family: 'texgyreadventoxr-regular';
}

.data_item.small .data_front > div:nth-child(2)::first-letter {
  font-size: 25px;
}

.data_item.small .data_front > div:nth-child(3) {
  width: 60px;
  height: 60px;
  right: 10px;
  bottom: 10px;
}

.data_item.small .data_front > div:nth-child(3).small_satisfy {
  background: url("../img/icon_satisfy.png");
}

.data_item.small .data_front > div:nth-child(3).samll_unsatisfy {
  background: url("../img/icon_unsatisfy.png");
}

.data_back table {
  margin-top: 10px;
}

.data_back.fixed {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.data_back.fixed button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: url("../img/data_close.png");
  border: none;
  cursor: pointer;
  outline: none;
}

.data_back.fixed > div:nth-child(2) {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}

.data_back.fixed > div:nth-child(3) {
  margin: 15px auto;
  width: 25px;
  height: 25px;
}

.data_back.fixed > div:nth-child(3).satisfy {
  background: url("../img/icon_satisfy.png");
  background-size: 100%;
}

.data_back.fixed > div:nth-child(3).unsatisfy {
  background: url("../img/icon_unsatisfy.png");
  background-size: 100%;
}

.data_back.fixed table {
  margin: 0 auto;
  width: 230px;
  font-size: 10px;
  table-layout: fixed;
  border-spacing: 0;
}

.data_back.fixed table th {
  padding: 0;
  border-bottom: 2px solid #001931;
  height: 25px;
  box-sizing: border-box;
}

.data_back.fixed table td {
  padding: 0;
  height: 30px;
  text-align: center;
}

.data_back.fixed table th:nth-child(1) {
  width: 70px;
}

.data_back.fixed table th:nth-child(2) {
  width: 60px;
}

.data_back.fixed table th:nth-child(3) {
  width: 60px;
  background: #FAF0E6;
}

.data_back.fixed table th:nth-child(4) {
  width: 30px;
}

.data_back.fixed table td:nth-child(1) {
  box-sizing: border-box;
  border-bottom: 1px solid #001931;
}

.data_back.fixed table td:nth-child(2), .data_back.fixed table td:nth-child(3), .data_back.fixed table td:nth-child(4) {
  border-bottom: 1px solid #c4c4c4;
}

.data_back.fixed table td:nth-child(3) {
  background: #FAF0E6;
}

.data_back.sub {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.data_back.sub button {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: url("../img/data_close.png");
  border: none;
  cursor: pointer;
  outline: none;
}

.data_back.sub > div:nth-child(2) {
  font-size: 20px;
  text-align: center;
}

.data_back.sub > div:nth-child(3) {
  margin: 15px auto;
  width: 25px;
  height: 25px;
}

.data_back.sub > div:nth-child(3).satisfy {
  background: url("../img/icon_satisfy.png");
  background-size: 100%;
}

.data_back.sub > div:nth-child(3).unsatisfy {
  background: url("../img/icon_unsatisfy.png");
  background-size: 100%;
}

.data_back.sub table {
  margin: 0 auto;
  width: 230px;
  font-size: 10px;
  table-layout: fixed;
  border-spacing: 0;
}

.data_back.sub table th {
  padding: 0;
  border-bottom: 2px solid #001931;
  height: 25px;
  box-sizing: border-box;
}

.data_back.sub table td {
  padding: 0;
  height: 30px;
  text-align: center;
}

.data_back.sub table th:nth-child(1) {
  width: 70px;
}

.data_back.sub table th:nth-child(2) {
  width: 60px;
}

.data_back.sub table th:nth-child(3) {
  width: 60px;
  background: #FAF0E6;
}

.data_back.sub table td:nth-child(1) {
  box-sizing: border-box;
  border-bottom: 1px solid #001931;
}

.data_back.sub table td:nth-child(2), .data_back.sub table td:nth-child(3) {
  border-bottom: 1px solid #c4c4c4;
}

.data_back.sub table td:nth-child(3) {
  background: #FAF0E6;
}

/* inventory */
.inventory_zone {
  padding-top: 35px;
}

.inventory_title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #001931;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.slot_wrap {
  height: 1000px;
}

.inventory_slot {
  margin: 15px 0 15px;
}

.inventory_header {
  width: 100%;
  height: 30px;
}

.inventory_header > div {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 15px;
  line-height: 30px;
  box-sizing: border-box;
}

.inventory_header .inventory_category {
  padding-left: 10px;
  color: #001931;
  border-bottom: 2px solid #001931;
}

.inventory_header .inventory_category.disable {
  color: #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}

.inventory_header .compare {
  color: #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  text-align: right;
  cursor: pointer;
}

.inventory_header .compare.active {
  color: #001931;
  border-bottom: 2px solid #001931;
}

.inventory_header .compare:hover {
  color: #001931;
  border-bottom: 2px solid #001931;
}

.inventory_item_wrap {
  width: 100%;
  margin-top: 15px;
}

.inventory_item_wrap > div {
  position: relative;
  margin-right: 9.5px;
  float: left;
  width: 108px;
  height: 108px;
  box-sizing: border-box;
}

.inventory_item_wrap > div:nth-child(3) {
  margin-right: 0;
}

.inventory_item_wrap > div.empty .item_name {
  display: none;
}

.inventory_item_wrap > div.exist:hover .inventory_img_wrap {
  border: 1px solid #FAF0E6;
}

.inventory_item_wrap > div.exist:hover .item_btn_wrap {
  display: block;
}

.inventory_item_wrap > div .inventory_img_wrap {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 88px;
}

.inventory_item_wrap > div .inventory_img_wrap img {
  width: 100%;
  height: 100%;
}

.inventory_item_wrap > div .item_btn_wrap {
  display: none;
  position: absolute;
  top: 0;
  width: 108px;
  height: 88px;
  right: 0;
  border: 1px solid #FAF0E6;
  box-sizing: border-box;
}

.inventory_item_wrap > div .item_btn_wrap > div {
  float: left;
  text-align: center;
}

.inventory_item_wrap > div .item_btn_wrap > div:nth-child(1) {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  line-height: 88px;
  background: tomato;
  cursor: pointer;
  color: #fff;
}

.inventory_item_wrap > div .item_btn_wrap > div:nth-child(2) {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
}

.inventory_item_wrap > div .item_btn_wrap > div:nth-child(2) > div {
  padding-top: 5px;
  height: 50%;
  width: 100%;
  background: #fff;
  cursor: pointer;
  font-size: 12px;
  box-sizing: border-box;
}

.inventory_item_wrap > div .item_btn_wrap > div:nth-child(2) > div .icon {
  margin-bottom: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: red;
}

.inventory_item_wrap > div .item_btn_wrap > div:nth-child(2) > div:hover {
  background: #ebebeb;
}

.inventory_item_wrap .item_name {
  font-size: 13px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.shadow {
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
  cursor: pointer;
  z-index: 11;
}

.compare_wrap {
  display: none;
  position: fixed;
  margin: auto auto;
  width: 880px;
  height: 95%;
  max-height: 950px;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
  border: 3px solid #e1e1e1;
}

.compare_contents {
  padding: 35px 10px 0;
  display: block;
  width: 850px;
  min-height: 950px;
  box-sizing: border-box;
}

.compare_header {
  width: 100%;
  height: 200px;
}

.compare_category_zone {
  position: relative;
  float: left;
  width: 279px;
  height: 100%;
}

.compare_category_zone button {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  outline: none;
  background: url("../img/compare_close.png");
}

.compare_box {
  color: #333333;
  float: left;
  margin: 0 5px;
  width: 173px;
  height: 100%;
}

.compare_box:last-child {
  margin-right: 0;
}

.compare_category {
  margin-top: 50px;
  text-align: center;
  font-size: 36px;
  font-family: 'arita-bold';
  color: #333333;
}

.subject {
  margin-top: 65px;
  padding: 10px 0;
  width: 140px;
  font-size: 20px;
  border-bottom: 2px solid #333;
  text-align: center;
}

.comepare_img {
  margin: 0 auto;
  width: 170px;
  height: 140px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.comepare_img img {
  width: 100%;
  height: 100%;
}

.compare_product {
  margin-top: 20px;
  font-family: 'myriad-regular';
  text-align: center;
  font-size: 15px;
}

.compare_rate {
  text-align: center;
}

.compare_product_detail {
  padding-left: 90px;
  color: #333333;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}

.compare_body {
  margin-top: 10px;
}

.compare_body table.first {
  border-spacing: 0;
  font-size: 11px;
}

.compare_body table.first thead th, .compare_body table.first thead td {
  border-top: 2px solid #333333;
  margin-right: 10px;
}

.compare_body table.first tr {
  height: 30px;
}

.compare_body table.first th, .compare_body table.first td {
  border-bottom: 1px solid #c3c3c3;
}

.compare_body table.first th {
  width: 279px;
  background: #001931;
  color: #fff;
}

.compare_body table.first td {
  text-align: center;
  width: 183px;
}

.compare_body table.first td:nth-child(3) {
  background: #fddb87;
}

.compare_body table.second {
  width: 100%;
  border-spacing: 0;
  font-size: 11px;
  table-layout: fixed;
}

.compare_body table.second thead th, .compare_body table.second thead td {
  border-top: 2px solid #333333;
  margin-right: 10px;
}

.compare_body table.second tr {
  height: 30px;
}

.compare_body table.second th, .compare_body table.second td {
  border-bottom: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}

.compare_body table.second th {
  width: 140px;
  background: #001931;
  color: #fff;
}

.compare_body table.second td {
  text-align: center;
  width: 183px;
}

.compare_body table.second td:nth-child(2), .compare_body table.second td:nth-child(3) {
  width: 65px;
  background: #efefef;
}

.compare_body table.second td:nth-child(5) {
  background: #fddb87;
}

.compare_body table.second td:last-child {
  border-right: none;
}

.another_subject {
  height: 50px;
  margin-top: 10px;
}

.another_subject > div {
  float: left;
}

.another_subject > div:nth-child(1) {
  padding: 10px 0;
  width: 143px;
  font-size: 20px;
  border-bottom: 2px solid #333;
  text-align: center;
}

.another_subject > div:nth-child(2), .another_subject > div:nth-child(3) {
  box-sizing: border-box;
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
  width: 67px;
}

.compare_footer {
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 30px;
  text-align: right;
}

.compare_footer button {
  margin-left: 40px;
  width: 145px;
  height: 40px;
  border: 2px solid #001931;
  background: none;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.compare_footer button:hover {
  background: #001931;
  color: #fff;
}

.star_able {
  display: inline-block;
  background: url("../img/compare_star_black.png");
  background-size: 100%;
  width: 10px;
  height: 10px;
}

.star_disable {
  display: inline-block;
  background: url("../img/compare_star_gray.png");
  background-size: 100%;
  width: 10px;
  height: 10px;
}
/*# sourceMappingURL=mainStyle.css.map */