$mainColor :#001931;

#load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.8;
	background: #343434;
	z-index: 99;
	text-align: center;
}

#load > img {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.randing_contents{
  min-width: 1260px;
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color : $mainColor;
}

.randing_wrap{
	margin: 0 auto;
	width: 1260px;

	.randing_main>div{
		float: left;
		width: 630px;
		height: 630px;
		color: tomato;
	}

	.randing_main>div:nth-child(1){
		background: url('../img/randing_main.png');
	}

	.randing_main>div:nth-child(2){
		text-align: center;

		>div:nth-child(1){
			margin-top: 132px;
			margin-bottom: 20px;
			text-align: center;
			font-family: 'arita-medium';
			font-size: 25px;
			color: #001931;
		}

		>div:nth-child(2){
			text-align: center;
			font-family: 'texgyreadventor-bold';
			font-size: 80px;
			height: 120px;
			line-height: 60px;
			letter-spacing: 5px;
		}

		a{
			margin-top: 90px;
			font-family: 'arita-semibold','sans-serif';
			display: inline-block;
			text-align: center;
			width: 362px;
			height: 72px;
			line-height: 72px;
			border: 3px solid #ff6347;
			font-size: 35px;
			text-decoration: none;
			color: #ff6347;
			box-sizing: border-box;

			&:hover{
				background: tomato;
				color: #faf0e6;
			}
		}
	}
}
.relative_company{
	margin-bottom: 50px;
}
.relative_company a{
	display: inline-block;
	margin-right: 86px;
	width: 250px;
	height: 50px;

	img{
		width: 100%;
		height: 100%;
	}


	&:nth-child(2){
		margin-right: 88px;
	}
	&:last-child{
		margin-right: 0;
	}
}

.randing_about{
	padding-top: 50px;
	box-sizing: border-box;
	width: 100%;
	height: 300px;
	background: $mainColor;
	text-align: center;

	.randing_wrap>div:nth-child(1){
		font-family: 'texgyreadventor-bold','sans-serif';
		font-size: 50px;
		margin-bottom: 25px;
	}

	.randing_wrap>div:nth-child(2){
		font-family: 'texgyreadventor-bold','sans-serif';
		font-size: 80px;
	}
}

.randing_info{
	padding-top: 80px;
}
.randing_info_subject{
	margin-bottom: 50px;

	>div{
		font-family: 'arita-semibold','sans-serif';
		font-size: 30px;
		float: left;
		width: 320px;
		height: 36px;
		line-height: 36px;
		text-align: center;
	}

	>div:nth-child(1){
		margin-left: 80px;
	}

	>div:nth-child(2){
		margin: 0 70px;
	}

	>div:nth-child(3){
		margin-right: 80px;
	}
}

.randing_info_num{
	margin-bottom: 100px;

	>div{
		font-family: 'texgyreadventor-bold','sans-serif';
		font-size: 30px;
		float: left;
		width: 250px;
		height: 250px;
		border: 8px solid tomato;
		color: tomato;
		font-size: 70px;
		text-align: center;
		line-height: 230px;
		border-radius: 50%;
		box-sizing: border-box;
		text-align: center;
	}

	>div:nth-child(1){
		margin-left: 115px;
	}

	>div:nth-child(2){
		margin: 0 140px;
	}

	>div:nth-child(3){
		margin-right: 115px;
	}
}
/* ready */

.your_email{
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 1;

  >div:nth-child(1){
    text-align: center;
    height: 100%;
    line-height: 80px;
  }

  .drug_left{
    top:0;
    left: 440px;
    position: absolute;
    width: 160px;
    height: 100%;
    background: #fff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 0 14px 3px #cfcfcf;


  }

  .drug_right{
    top:0;
    right : 440px;
    position: absolute;
    width: 160px;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background: tomato;
    box-shadow: 0 0 14px 3px #cfcfcf;
  }

  input{
    width: 400px;
    height: 50px;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    color : $mainColor;
    text-align: center;
    outline: none;
  }

}

.line_design{
  position: absolute;
  top:317px;
  height: 3px;
  width: 100%;
  background: $mainColor;
}

.line_text_zone{
  top:60px;
  position: relative;
  width: 100%;
  height: 60px;

  .line_design{
    top: 27px;
    position: absolute;
  }
  .line_text{
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 900px;
    text-align: center;
    line-height: 60px;
    background: #fff;
    position: absolute;
    z-index: 10;
    font-size: 45px;
    font-weight: bold;
    font-family: 'arita-bold';
  }
}

.ready_btn_zone{
  padding-top: 100px;
  top: 60px;
  position: relative;
  margin: 0 auto;
  width: 720px;
  height: 300px;
  box-sizing: border-box;


}

.ready_btn{
  display: inline-block;
  text-align: center;
  font-family: 'arita-bold';
  width: 325px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  border-radius: 40px;
  outline: none;
  background:#fff;
  //box-shadow: 0 0 14px 3px #cfcfcf;
  border: 2px solid tomato;
  font-size: 35px;
  font-weight: bold;
  color : tomato;
  cursor: pointer;

  // &:active{
  //   box-shadow: none;
  //   background: $mainColor;
  //   color : #fff;
  // }

  &:hover{
    background: #faf0e6;
    border: 2px solid #faf0e6;
  }
}
.ready_btn_zone{
  a:nth-child(2){
    float: right;
  }

}

/* login */

.randing_login_wrap{
  width: 100%;
  padding-top: 40px;
  text-align:center;

  form{
    margin-bottom: 90px;
  }
  form>div{
    margin-bottom: 60px;
  }
}

.pick_input{
  padding-left: 30px;
  width: 535px;
  height: 70px;
  border-top: 2px solid tomato;
  border-left: 2px solid tomato;
  border-bottom: 2px solid tomato;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  box-sizing: border-box;
  outline: none;
  vertical-align: top;
  font-size: 20px;
  font-family: 'arita-bold';
  font-weight: bold;
}
.pick_label{
  display: inline-block;
  width: 165px;
  height: 70px;
  line-height: 70px;
  border-top: 2px solid tomato;
  border-right: 2px solid tomato;
  border-bottom: 2px solid tomato;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  box-sizing: border-box;
  border-left: none;
  vertical-align: top;
  text-align: center;
  font-size: 30px;
  color : tomato;
  background: #faf0e6;
  font-family: 'texgyreadventoxr-bold';

}

.login_remote{
  margin-top: 90px;
  padding: 0 100px;
  height: 80px;
  line-height: 80px;

  text-align: center;

  button{
    display: inline-block;
    vertical-align: middle;
    outline: none;
  }
  button:nth-child(1){
    margin-top: 25px;
    float: left;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
  button:nth-child(3){
    margin-top: 25px;
    float: right;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
      font-size: 30px;
  }

}

.login_btn_zone{
  margin-top: 90px;
  text-align: center;

  a{
    margin: 0 20px;
  }
}
/* first */

.slider_arrow_wrap{
  position: absolute;
  min-width: 1260px;
  width: 100%;
  top: 440px;

  button:nth-child(1){
    border: none;
    padding: 0;
    margin-left: 50px;
    float: left;
    width: 50px;
    height: 50px;
    background: url('../img/prev_arrow.png');
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #c4c0c0;
    cursor: pointer;

  }
  button:nth-child(2){
    border: none;
    padding: 0;
    margin-right: 50px;
    float: right;
    width: 50px;
    height: 50px;
    background: url('../img/next_arrow.png');
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #c4c0c0;
    cursor: pointer;
  }
}
.slide_wrap{
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.slide_window{
  left:0;
  position: relative;
  height: 100%;
}

.slide_contents{
  float: left;
  position: relative;
  width: 1260px;
  height: 100%;
}

/* first */

.randing_contents.info{
  padding-top: 65px;
}

.step_wrap{
  padding: 0 65px;
  width: 100%;
  height: 125px;
  box-sizing: border-box;

  .circle_wrap{
    width: 100%;
    height: 80px;

    .step_circle{
      font-family: "texgyreadventoxr-regular";
      margin-right: 250px;
      float: left;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      //border: 3px solid $mainColor;
      box-sizing: border-box;
      background: #faf0e6;
      color: #c4c4c4;
      line-height: 80px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;

			&:nth-child(1){
				margin-left: 30px;
			}
      &:last-child{
        margin: 0;
      }
    }

    .step_circle.selected{
      background: #001931;
      color: #fff;
    }
  }

  .label_wrap{
    width: 100%;
    height: 45px;

    .step_label{
      font-weight: bold;
      float: left;
      margin-right: 250px;
      width: 80px;
      height: 100%;
      line-height: 45px;
      text-align: center;
      font-size: 20px;
      color :#c4c4c4;

			&:nth-child(1){
				margin-left: 30px;
			}

      &:last-child{
        margin: 0;
      }

    }

    .step_label.selected{
      color : #001931;
      font-family: 'arita-bold';
      font-weight: bold;
    }
  }
}

.step_line{
  position: relative;
  width: 100%;
  height: 50px;

  .center_line{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
    width: 100%;
    height: 3px;
    background: $mainColor;
    box-sizing: border-box;
  }

  .vertical_line{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 2px;
    height: 35px;
    background: $mainColor;

    &:nth-child(2){
      margin-left: 105px;
    }
    &:nth-child(3){
      margin-left: 305px;
    }
    &:nth-child(4){
      margin-left: 500px;
    }
    &:nth-child(5){
      margin-left: 695px;
    }
    &:nth-child(6){
      margin-left: 890px;
    }
    &:nth-child(7){
      margin-left: 1095px;
    }
  }

  .vertical_line.selected{
    width: 5px;
    height: 100%;
  }
}

.step_title_wrap{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: blue;

  .step_title{
    display: inline-block;

    &:nth-child(1){
      margin-left: 90px;
    }
    &:last-child{
      margin: 0;
    }
  }
}
.step_title{
  margin: 110px 0 0 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color : $mainColor;

  span{
    font-family: 'arita-bold';
    font-size: 45px;
    font-weight: bold;
  }
}

.step_input{
  margin-top: 60px;
  text-align: center;

	input[type="text"]{
		border-right: none;
	}
}
.step_coment{
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'arita-bold';
  color : #99a3ad;
}

.custom_radio_wrap{

  &:nth-child(1){
    label{
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }
  }
  &:nth-child(2){
    label{
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
    }
  }

  input[type="radio"]{
    position: absolute;
    visibility: hidden;
    left: -9999px;
  }

  label{
    display: inline-block;
    width: 165px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    font-family: 'texgyreadventoxr-regular';
    text-align: center;
    color : #ebebeb;
    box-shadow: 0 0 5px 3px #ebebeb;
    cursor: pointer;
  }

  label.selected{
    box-shadow: none;
    background: #faf0e6;
    color : tomato;
  }
}

.custom_check_wrap{
  input[type="checkbox"]{
    position: absolute;
    visibility: hidden;
    left: -9999px;
  }
}


.radio_label{
  display: inline-block;
  width: 165px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  font-family: 'myriad-bold';
  text-align: center;
  color : $mainColor;
  box-shadow: 0 0 5px 3px #bbbbbb;
  cursor: pointer;

  &:nth-child(3){
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  &:nth-child(4){
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.mini_text_wrap{
  display: inline-block;
  margin-right: 30px;
  // 생년월일 그림자 지웁니다.
  //box-shadow: 0 0 5px 4px #bbbbbb;
  border-radius: 40px;
}

input.mini_text{
  padding: 0;
  border-top: 2px solid tomato;
  border-left: 2px solid tomato;
  border-bottom: 2px solid tomato;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: inline-block;
  width: 165px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  font-family: 'texgyreadventoxr-regular';
  text-align: center;
  color : $mainColor;
  outline: none;
}

label.mini_text{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: inline-block;
  width: 165px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  font-family: 'texgyreadventoxr-regular';
  background: #faf0e6;
  text-align: center;
  border-top: 2px solid tomato;
  border-right: 2px solid tomato;
  border-bottom: 2px solid tomato;
  color : tomato;
}

.step_input.password{
  div{
    margin: 30px 0;
  }
}

.custom_btn{
  display: inline-block;
  font-family: 'arita-bold';
  width: 325px;
  height: 80px;
  text-decoration: none;
  border-radius: 40px;
  outline: none;
  background:#fff;
  border: 3px solid tomato;
  box-sizing: border-box;
  font-size: 35px;
  font-weight: bold;
  color : tomato;
  cursor: pointer;

  // &:active{
  //   background: $mainColor;
  //   color: #fff;
  // }
  &:hover{
    background: #faf0e6;
    border: none;
  }
}

.access_img{
  margin: 80px 0 50px;
  width: 100%;
  height: 100px;
  background: url('../img/randing/access_img.png');
}

.step_input.access{
  button:nth-child(1){
    margin-right: 50px;
  }
}

.process_gif{
  width: 100%;
  height: 450px;
  background: red;
}

.process_text{
  font-family: 'arita-bold';
  margin: 20px;
  text-align: center;
  color : #99a3ad;
  font-size: 20px;
}


.name_accent{
  text-decoration: underline;
  color : $mainColor;
  font-family: 'arita-bold';
  font-weight: bold;
}

.graph_title{
  margin: 7px 0;
  padding: 7px 0;
  border-bottom: 2px solid $mainColor;
  font-size: 20px;
  font-weight: bold;
}
.result_graph{
  width: 100%;
  height: 330px;
  background: $mainColor;
  display: none;
}
.tab1{
  display: block;
}

.result_tab{
  li{
    float: left;
    list-style: none;
    width: 76px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 18px;
    border-bottom: 2px solid #99a3ad;
    font-size: 12px;
    font-weight: bold;
    a{
      color : #99a3ad;
    }
  }
  li:nth-child(1){
    margin-right: 17px;
  }
  li:nth-child(2){
    margin-right: 17px;
  }
  li:nth-child(3){
    margin-right: 17px;
  }
  li:nth-child(4){
    margin-right: 17px;
  }
  li:last-child{
    margin : 0;
  }

  a{
    color : $mainColor;
    text-decoration: none;
  }

}
.result_tab> li.selected{
  border-bottom: 2px solid $mainColor;
  a{
    color : $mainColor;
  }
}

.data_title{
  margin: 40px 0 0;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.vitamin_table{
  margin: 20px 0 40px;
  width: 100%;
  border-collapse:collapse;
  font-size: 12px;
  table-layout:fixed;

  th{
    padding-left: 10px;
    text-align: left;
  }

  tr{
    height: 30px;
    text-align: center;
  }

  thead{
    tr{
      border-bottom: 2px solid $mainColor;
    }

    th{
      padding-left: 10px;
      background: $mainColor;
      color: #fff;
    }
  }

  tbody{
    th{
      border-bottom: 2px solid $mainColor;
    }
  }


}


.submit_wrap{
  margin: 30px 0;
  text-align: center;
  a{
    margin-right: 30px;
  }
}
.step_input.agree>div{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.step_input.agree>div:nth-child(2){
  margin-bottom: 100px;
}
.agree_btn{
  margin-right: 40px;
  width: 250px;
  height: 60px;
  border: 2px solid $mainColor;
  font-size: 25px;
  color : #003366;
  background: none;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0;
  font-family: 'arita-bold';
  outline: none;
  cursor: pointer;
}
.agree_btn:last-child{
  margin: 0;
}
.custom_check_zone{
  text-align: center;

  span{
    display: inline-block;
  }
}
.custom_check_label{
  margin-right: 40px;
  display: inline-block;
  width: 250px;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  font-size: 25px;
  color : tomato;
  border-radius: 30px;
  font-family: 'arita-bold';
  cursor: pointer;
  box-shadow: 0 0 3px 3px #bbbbbb;


}
.custom_check_wrap:last-child .custom_check_label{
  margin: 0;
}

.custom_check_label.selected{
  background: #faf0e6;
  color: tomato;
  box-shadow: none;
}
/* landing bar */

.randing_first{
	.landing_bar{
		margin-top: 30px;
		width: 100%;
		height: 128px;



		>div{
			float: left;
			height: 100%;
		}

		>div{
			text-align: center;

			>div{
				width: 100%;
			}

			>div:nth-child(1){
        /* 이미지 들어가는 태그.
        background: green;
        */
				height: 50%;
			}

			>div:nth-child(2){
				height: 50%;
				line-height: 59px;
				color: #c4c4c4;
			}
			>div.current_step{
				color:$mainColor;
				font-weight: bold;
			}
		}

		>div:nth-child(1){
			margin-left: 100px;
			width: 66px;
		}

		>div:nth-child(2){
			margin-left: 135px;
			width: 66px;
		}

		>div:nth-child(3){
			margin-left: 135px;
			width: 66px;
		}

		>div:nth-child(4){
			margin-left: 135px;
			width: 66px;
		}

		>div:nth-child(5){
			margin-left: 135px;
			width: 66px;
		}

		>div:nth-child(6){
			margin-left: 130px;
			width: 66px;
		}
	}
}

.randing_second{
	.landing_bar{
		margin-top: 30px;
		width: 100%;
		height: 118px;

		>div{
			float: left;
			height: 100%;
		}

		>div{
			margin-right: 45px;
			width: 65px;
			text-align: center;

			>div{
				width: 100%;
			}

			>div:nth-child(1){
				//ckground: green;
				height: 50%;
			}

			>div:nth-child(2){
				height: 50%;
				line-height: 59px;
				color: #c4c4c4;
			}
			>div.current_step{
				color:$mainColor;
				font-weight: bold;
			}
		}

		>div:nth-child(1){
			margin-left: 100px;
		}
		>div:nth-child(2){

		}

	}
}

.randing_last{

	.landing_bar{
		margin-top: 30px;
		width: 100%;
		height: 118px;

		>div{
			float: left;
			height: 100%;
		}

		>div{
			margin-right: 267px;
			width: 65px;
			text-align: center;

			>div{
				width: 100%;
			}

			>div:nth-child(1){
				//background: green;
				height: 50%;
			}

			>div:nth-child(2){
				height: 50%;
				line-height: 59px;
				color: #c4c4c4;
			}
			>div.current_step{
				color:$mainColor;
				font-weight: bold;
			}
		}

		>div:nth-child(1){
			margin-left: 100px;
		}
		>div:last-child{
			margin-right: 0;
		}

	}
}


/* 유효성 */

.input_name.ok{
  background: url('../img/inputBG_ok.png');
}
.input_name.no{
  background: url('../img/inputBG_no.png');
}
