.request-contents{margin:72px auto; padding:0 10px; overflow:hidden;width:1128px; position:relative}
.request-contents:after{width:2px; height:100%; display:block; content:""; background:#c4c4c4; left:50%;margin-left:-1px;top:0;position:Absolute;}
.request-contents .fl{float:left; width:500px;}
.request-contents .fr{float:right; width:500px;}
.request-contents ul{padding:0 ;margin:0}
.request-contents h3{font-size:30px;text-align:center; font-weight:bold; letter-spacing:-0.01em; line-height:120%; height:80px;}
/* test */

.request-contents .fl li{list-style:none; margin-top:32px; padding:0;}
.request-contents .fl li:first-child{margin-top:0;}
.request-contents .fl li .btxt{display:block; line-height:40px; text-align:center; font-size:16px; font-weight:800;}
.request-contents .fl li input[type="text"]{height:40px; box-sizing:border-box; border:2px solid #000; padding:0 10px; font-size:16px; width:100%;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.request-contents .fl li textarea{ height:273px;box-sizing:border-box;background:#f8f8f8 url(../img/request-sm01.jpg) no-repeat;background-position:center center !Important;; color:#cbcbcb; font-weight:700; font-size:17px; line-height:120%; text-align:left; border:2px solid #000; padding:10px; font-size:16px; width:100%;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

.request-contents .fl li input[type="text"]:focus, .request-contents .fl li input[type="text"].active{border:2px solid #fac22f;color:#111 !Important;box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-webkit-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-moz-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);}
.request-contents .fl li textarea:focus, .request-contents .fl li textarea.active{background:#f8f8f8;color:#111 !Important; border:2px solid #fac22f;line-height:150%; font-size:16px; text-align:left; color:#111; padding: 10px;box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-webkit-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-moz-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);}


.request-contents .fr li{list-style:none; margin-top:32px; padding:0;}
.request-contents .fr li:first-child{margin-top:0;}
.request-contents .fr li .btxt{display:block; line-height:40px; text-align:center; font-size:17px; font-weight:800;}
.request-contents .fr li input[type="text"]{height:40px; box-sizing:border-box; border:2px solid #000; padding:0 10px; font-size:16px; width:100%;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.request-contents .fr li textarea{ height:161px;box-sizing:border-box;background:#f8f8f8 url(../img/request-sm02.jpg) no-repeat;background-position:center center !Important;; color:#cbcbcb; font-weight:700; font-size:17px; line-height:120%; text-align:left; border:2px solid #000; padding:10px; font-size:16px; width:100%;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

.request-contents .fr li input[type="text"]:focus, .request-contents .fl li input[type="text"].active{border:2px solid #fac22f;color:#111 !Important;box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-webkit-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-moz-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);}
.request-contents .fr li textarea:focus, .request-contents .fl li textarea.active{background:#f8f8f8;color:#111 !Important; border:2px solid #fac22f;line-height:150%; font-size:16px; text-align:left; color:#111; padding: 10px;box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-webkit-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);-moz-box-shadow: 0 0 12px rgba(250, 193, 47, 0.3);}


.request-contents .btn-wrap.c{text-align:center; margin-top:50px;}
.request-contents .request-btn{border:2px solid #001930; text-decoration:none; line-height:40px; font-weight:800;width:145px;box-sizing:border-box; height:43px; text-align:center; font-size:16px; text-align:center; display:inline-block; vertical-align:top;}

.request-contents .request-btn{color:#001930;}
.request-contents  .request-btn:hover{
  background: #001830;
  color:#fff;
}





.mypick-contents{width:1192px; margin:72px auto;}
.mypick-contents h3{font-size:30px;text-align:center; font-weight:bold; letter-spacing:-0.01em; line-height:120%; height:80px;}



.mypick-contents .list {overflow:hidden; list-style:none; }
.mypick-contents .list li{float:left; position:Relative; margin-left:5px; padding-bottom:15px;margin-bottom:15px}
.mypick-contents .list li:nth-child(1), .mypick-contents .list li:nth-child(7),.mypick-contents .list li:nth-child(21){margin-left:0}

.mypick-contents .my_vitamin_wrap{width:auto; height:auto; position:relative;}
.mypick-contents .my_vitamin_item{margin-right:0;margin-left:0; width:194px;}
.mypick-contents .vitamin_item_title{font-weight:700; }

.mypick-contents .vitamin_inner_wrap{border-top:none !important;padding-top:6px;height:243px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.mypick-contents .vitamin_inner_wrap .vitamin_item_img{width:179px; height:154px;background:#fedb87 url(../img/vitamin-sm01.jpg) no-repeat; margin:0 6px 6px 6px}
.mypick-contents .vitamin_inner_wrap .vitamin_item_img.disable{background:#e6e6e6}

.mypick-contents .vitamin_item_rate{font-size:0}
.mypick-contents .img_quest{left:10px; top:10px; opacity:0.4}
.mypick-contents .img_close{right:10px; top:10px; opacity:0.4}

.mypick-contents .vitamin_item_category{text-align:center;border-bottom:2px solid #001931;}


/* etc */

.vitamin_item_text{
  padding-top: 10px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
}
